<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%include templates/header.ejs %>
    <h1><%= title %></h1>

  <ul>
    <%newsdata.posts.forEach(function(item){%>
    <li >
      <%=item.thread.title %>
    </li>
    <%});%>
  </ul>


  </body>
</html>
